*, *::before, *::after {
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #732104;
    text-transform: capitalize;
}

button{
    background-color:#FFDF7F ;
    border-radius: 40px;
    border: #FFDF7F;
}
article section, aside div{
border-radius: 50px;
background-color:#FEF7E2;
}
p,div,h3{
    background-color:#FEF7E2;
}
picture img{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;
}

/* mobile*/
@media only screen and (max-width: 600px) {
    nav{
        background-color:#FEF7E2;
        border-radius: 90px;
        display: flex;
        align-content: space-around;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 1em;
    }
    #shop img{
        max-width: 17%;
        max-height: 100%;
        background: transparent;
        padding-top: 0.7em;
        
    }
    #shop {
        flex-basis: 90%;
        align-items: center;
        justify-content: center;
        border-radius: 5em;
    }
    #shop p{
        font-size: xx-large;
        margin: 0.5em;
        margin-left: 0.7em;
        background-color:#FFDF7F;
        display: inline-flex;
        vertical-align: top;
    }
    button{
        font-size: large;
        font-weight: bold;
        margin: 0.4em;
        padding: 1em;
        flex-basis: 43%;
    }
    h2{
        text-align: center;
        font-weight: bolder;
        font-size: 55px;
    }
    section{
        margin-bottom: 2em;
        text-align: center;
    }
    section div {
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 3.5em;
        column-gap: 1px;
    }
    section div p{
        margin: 0;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: small;
        padding-left: 1em;
    }
    section div h3{
        margin: 0;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: larger;
        padding-top: 0.7em;
    }
    
     #prezzo{
        font-size: larger;
        background: none;
        position: absolute;
        margin-top: 5vh;
        padding-left: 40vw;
        flex-basis: 10%;
     }
    .AddToCart{
        font-size: small;
        margin: 1.2em;
        padding: 1.5%;
        width: 50%;
        
    }
    aside div{
        text-align: left;
        padding: 1em;
        font-size: large;
    }
    aside div p{
        padding: 0.7em;
    }
    #ultima{
        background: none;
        padding: 0.7em;
        width: 100%;
    }
}
/* tablet */
@media only screen and (min-width: 601px){
    nav{
        background-color:#FEF7E2;
        border-radius: 90px;
        display: inline-flex;
        align-content: space-around;
        justify-content: space-evenly;
        padding: 0.5em;
    }
    #shop img{
        max-width: 40%;
        max-height: 100%;
        background: transparent;
        padding: 0.7em;
        padding-right: 0;
        
    }
    #shop {
        background-color: #FFDF7F;
        align-items: center;
        justify-content: center;
        border-radius: 5em;
        width: 25%;
        height: 100%;
    }
    #shop p{
        font-size: large;
        margin: 0.6em;
        margin-left: 0.7em;
        margin-top: 1.2em;
        background-color: #FFDF7F;
        display: inline-flex;
        vertical-align: top;
    }
    button{
        align-self: center;
        font-size: medium;
        font-weight: bold;
        margin: 0.4em;
        padding: 0.8em 0.5em;
        height: 80%;
    }
    nav button:nth-of-type(1){
        order:3;
    }
    nav button:nth-of-type(2){
        order:1;
    }
    nav button:nth-of-type(3){
        order:2;
    }
    nav button:nth-of-type(4){
        order:4;
    }
    nav button:nth-of-type(5){
        order:5;
    }
    article{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        flex-basis: 100%;
        font-weight: bolder;
        font-size: 55px;
    }
    section:first-of-type{
        display: none;
    }
    section{
        margin: 1em;
        text-align: center;
        flex-basis: 44%;
    }
    section div {
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 2em;
        column-gap: 1px;
    }
    section div p{
        margin: 0;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: small;
        padding-left: 1em;
    }
    section div h3{
        margin: 0;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: larger;
        padding-top: 0.7em;
    }
    
     #prezzo{
        font-size: larger;
        background: none;
        position: absolute;
        margin-top: 5vh;
        padding-left: 22vw;
        flex-basis: 10%;
     }
    .AddToCart{
        font-size: small;
        width: 60%;
        height: fit-content;
        margin: 1em;
    }
    aside div{
        text-align: left;
        padding: 1em;
        font-size: large;
    }
    aside div p{
        padding: 0.7em;
    }
    #ultima{
        background: none;
        padding: 0.7em;
        width: 100%;
    }
}
/* Medium devices*/
@media only screen and (min-width: 768px) {
    nav button:nth-of-type(1){
        order:1;
    }
    nav button:nth-of-type(2){
        order:2;
    }
    nav button:nth-of-type(3){
        order:3;
    }
    nav button:nth-of-type(4){
        order:4;
    }
    nav button:nth-of-type(5){
        order:5;
    }
    nav{
        border-radius: 0%;
        display: flex;
        background-color:#FEF7E2;
        height: 100%;
        position: fixed;
        width: 30vw;
        flex-wrap: wrap;
        padding: 0em;
        margin: 0%;
        align-content: space-evenly;
        justify-content: start;
    }
    #shop img{
        float: inline-start;
        margin-left: 1em;
        width: 4em;
        height: 4em;
        background: transparent;
        
    }
    #shop {
        background-color: #FFDF7F;
        align-items: center;
        justify-content: center;
        border-radius: 4em;
        height: 17%;
        flex-basis: 100%;
    }
    #shop p{
        font-size: large;
        float: inline-start;
        padding-left: 0.2em;
        margin-top: 1.2em;
        background-color: #FFDF7F;
        display: inline-flex;
        vertical-align: top;
    }
    button{
        align-self: center;
        font-size: medium;
        font-weight: bold;
        margin: 0.4em;
        padding: 0.8em 0.5em;
        height: 10%;
        flex-basis: 100%;
        height: 17%;
        border-radius: 4em;
    }
    article, aside{
        width: 65vw;
        float: right;
    }
    article{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        flex-basis: 100%;
        font-weight: bolder;
        font-size: 55px;
    }
    section:first-of-type{
        display: none;
    }
    section:last-child{
        display: none;
    }
    section{
        margin: 0.5em;
        text-align: center;
        flex-basis: 30%;
    }
    section div {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        padding-left: 0em;
        column-gap: 1px;
    }
    section div p{
        width: 100%;
    }
    section div h3{
        text-align:center ;
        margin-left: 0em;
        margin-right: 0.7em;
        padding: 0%;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: large;
        padding-top: 0.7em;
    }
    
     #prezzo{
        font-size: medium;
        background: none;
        position: absolute;
        margin-top: 5vh;
        padding-left: 10vw;
        width: 10%;
     }
    .AddToCart{
        font-size: small;
        width: 60%;
        height: fit-content;
        margin: 1em;
    }
    aside div{
        text-align: left;
        padding: 1em;
        font-size: large;
    }
    aside h3{
        font-weight: 900;
        font-size: xx-large;
        padding-left: 0.5em;
    }
    aside div p{
        padding: 0.7em;
    }
    #ultima{
        background: none;
        padding: 0.7em;
        width: 100%;
    }
}
/* medium large */
@media only screen and (min-width: 992px) {
    nav button:nth-of-type(1){
        order:1;
    }
    nav button:nth-of-type(2){
        order:2;
    }
    nav button:nth-of-type(3){
        order:3;
    }
    nav button:nth-of-type(4){
        order:4;
    }
    nav button:nth-of-type(5){
        order:5;
    }
    nav{
        border-radius: 0%;
        display: flex;
        background-color:#FEF7E2;
        height: 100%;
        position: fixed;
        width: 25vw;
        flex-wrap: wrap;
        padding: 0em;
        margin: 0%;
        align-content: space-evenly;
        justify-content: start;
    }
    #shop img{
        float: inline-start;
        margin-left: 0.3em;
        width: 4em;
        height: 4em;
        background: transparent;
        
    }
    #shop {
        background-color: #FFDF7F;
        align-items: center;
        justify-content: center;
        border-radius: 4em;
        height: 17%;
        flex-basis: 90%;
    }
    #shop p{
        font-size: xx-large;
        float: inline-start;
        padding-left: 0.1em;
        margin-top: 0.6em;
        background-color: #FFDF7F;
        display: inline-flex;
        vertical-align: top;
    }
    button{
        align-self: center;
        font-size: larger;
        font-weight: bold;
        margin: 0.4em;
        padding: 0.8em 0.5em;
        height: 10%;
        flex-basis: 90%;
        height: 17%;
        border-radius: 4em;
    }
    article, aside{
        width: 72vw;
        float: right;
    }
    article{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        flex-basis: 100%;
        font-weight: bolder;
        font-size: 55px;
    }
    section:first-of-type{
        display: none;
    }
    section:last-child{
        display: inline;
    }
    section{
        margin: 0.5em;
        text-align: center;
        flex-basis: 22.5%;
    }
    section div {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        padding-left: 0em;
        column-gap: 1px;
    }
    section div p{
        width: 100%;
    }
    section div h3{
        text-align:center ;
        margin-left: 0em;
        margin-right: 1.5em;
        padding: 0%;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: large;
        padding-top: 0.7em;
    }
    
     #prezzo{
        font-size: medium;
        background: none;
        position: absolute;
        margin-top: 3vh;
        padding-left: 9vw;
        width: 10%;
     }
    .AddToCart{
        font-size: small;
        width: 60%;
        height: fit-content;
        margin: 1em;
    }
    aside div{
        text-align: left;
        padding: 1em;
        font-size: large;
    }
    aside h3{
        font-weight: 900;
        font-size: xx-large;
        padding-left: 0.5em;
    }
    aside div p{
        padding: 0.7em;
    }
    #ultima{
        background: none;
        padding: 0.7em;
        width: 100%;
    }
}
/* Extra large devices */
@media only screen and (min-width: 1200px) {
    nav button:nth-of-type(1){
        order:1;
    }
    nav button:nth-of-type(2){
        order:2;
    }
    nav button:nth-of-type(3){
        order:3;
    }
    nav button:nth-of-type(4){
        order:4;
    }
    nav button:nth-of-type(5){
        order:5;
    }
    nav{
        border-radius: 0%;
        display: flex;
        background-color:#FEF7E2;
        height: 100%;
        position: fixed;
        width: 15vw;
        flex-wrap: wrap;
        padding: 0em;
        margin: 0%;
        align-content: space-evenly;
        justify-content: start;
    }
    #shop img{
        float: inline-start;
        margin-left: 0.3em;
        width: 2.5em;
        height: 4em;
        background: transparent;
        
    }
    #shop {
        background-color: #FFDF7F;
        align-items: center;
        justify-content: center;
        border-radius: 4em;
        height: 17%;
        flex-basis: 90%;
    }
    #shop p{
        font-size: large;
        float: inline-start;
        padding-left: 0em;
        margin-top: 0.9em;
        background-color: #FFDF7F;
        display: inline-flex;
        vertical-align: top;
    }
    button{
        align-self: center;
        font-size: larger;
        font-weight: bold;
        margin: 0.4em;
        padding: 0.8em 0.5em;
        height: 10%;
        flex-basis: 90%;
        height: 17%;
        border-radius: 4em;
    }
    article, aside{
        width: 82vw;
        float: right;
    }
    article{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        flex-basis: 100%;
        font-weight: bolder;
        font-size: 55px;
    }
    section:first-of-type{
        display: inline;
    }
    section:last-child{
        display: inline;
    }
    section{
        margin: 0.5em;
        text-align: center;
        flex-basis: 18%;
    }
    section div {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0em;
        column-gap: 1px;
    }
    section div h3{
        text-align:center ;
        margin-left: 0em;
        margin-right: 2.5em;
        padding: 0%;
        display: flex;
        justify-self: flex-start;
        flex-basis: 100%;
        font-size: large;
        padding-top: 0.7em;
    }
    
     #prezzo{
        font-size: medium;
        background: none;
        position: absolute;
        margin-top: 6vh;
        padding-left: 9vw;
        width: 10%;
     }
    .AddToCart{
        font-size: small;
        width: 60%;
        height: fit-content;
        margin: 1em;
    }
    #saccarosio{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #saccarosio div{
        flex-basis: 45%;
        text-align: left;
        padding: 1em;
        font-size: large;
    }
    #saccarosio div h3{
        height: 10vh;
        font-weight: 900;
        font-size: xx-large;
        padding-left: 0.5em;
    }
    #saccarosio div p{
        padding: 0.7em;
    }
    #saccarosio picture{
        background: none;
        justify-self:left;
        flex-basis: 40%;

    }
    #ultima{
        flex-basis: 42%;
        background: none;
        padding: 0.7em;
        width: 100%;
        border-radius: 0;
    }
    
}
